body {
    font-family: sans-serif;
    font-size: 1.5rem ;
    color: darkblue;
  }
  
  h1 {
    border: solid 5px darkmagenta;
    text-align: center;
    text-transform: uppercase;
  }
  
  p {
    text-align: justify;
  }
  
  p.a {
    border-left: double 30px red;
    border-top: double 10px red;
  }
  
  p.b {
    border-color: blue green;
    border-width: 5px 10px 5px 10px;
    border-style: dashed;
  }
  
  p.c {
    border-color: rgb(100, 88, 17);
    border-width: 30px 10px;
    border-style: double;
  }
  
  p.d {
    border-color: rgb(44, 90, 44) black rgb(117, 117, 138);
    border-width: 20px 0px;
    border-style: solid ;
  }
  
  p.e {
    border-color: red rgb(16, 58, 54) rgb(8, 23, 156);
    border-width: 30px;
    border-style: dashed solid dotted;
  }
  
  p.f {
    border-color: darkmagenta darkblue darkmagenta darkblue;
    border-width: 10px 30px 20px;
    border-style: dotted solid dashed double;
  }